/* ************** desktop styles  *************** */

.page {
  margin-top: 30px;
  width: 100%;
}



/* navigation styles start */

.navigation {
  width: 100%;
  border-bottom: 0.5px solid lightgray;
  background-color: #fff;
}


.nav_icon {
  color: #666;
}

.nav_icon:hover {
  cursor: pointer;
  color: deeppink;
}

.nav_container {
  height: 65px;
}

.nav_container,
.nav_account_wrapper,
.nav_search_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav_logo {
  font-size: 24px;
  color: deeppink;
  text-decoration: none;
}

.nav_account_wrapper {
  width: 17%;
}

.nav_search_box {
  width: 35%;
}

.search_styles {
  border: none;
  outline: none;
  padding: 4px 0;
  font-size: 14px;
  width: 95%;
}


.cart_box {
  text-decoration: none;
  position: relative;
}

.cart_quantity
{
  position: absolute;
  top: -10px;
  right: -10px;
  color: red;
  font-size: 20px;
  font-weight: 600;
}


.cart_item
{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.item_view
{
  border: 0.5px solid lightgray;
  width: 150px;
  border-radius: 5px;
}

.item_price
{
  font-size: 20px;
  color: deeppink;
  font-weight: 500;
}

.item_img
{
  width: 100%;
  object-fit: cover;
}

.remove_btn
{
  background-color: red;
  border: none;
  color: #fff;
  padding: 7px;
  font-size: 16px;
  cursor: pointer;
}


.messages_styles
{
  color: red;
  text-align: center;
}


.search_styles:focus {
  border-bottom: 0.5px solid lightgray;
}

/* hamburger  */

.hamburger_menu {
  margin: 1rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
  display: none;
}

.bar_top,
.bar_middle,
.bar_bottom {
  height: 3px;
  background: #555;
  border-radius: 5px;
  margin: 2px 0;
  transform-origin: left;
  transition: all 0.5s;
}

.hamburger_menu:hover .bar_top {
  transform: rotate(45deg);
}

.hamburger_menu:hover .bar_middle {
  transform: translateX(1rem);
  opacity: 0;
}

.hamburger_menu:hover .bar_bottom {
  transform: rotate(-45deg);
}

/* hamburger */


/* end of navigation styles */



/* products styles start */

.product_list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 1rem;
  width: 100%;
}

.product {
  width: 170px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: all ease-in-out 0.2s;
  position: relative;
}

.product:hover {
  cursor: pointer;
}

.product_img {
  height: 200px;
  width: 100%;
}

.product:hover {
  transform: translateY(-10px);
}

.product_description {
  display: inline-block;
  color: #666;
  font-size: 12px;
}

.addtocart_btn 
{
  background-color: deeppink;
  color: #fff;
  border: none;
  font-size: 14px;
  padding: 10px 0;
}

.addtocart_btn:hover
{
  cursor: pointer;
}

.product_icon
{
  position: absolute;
  right: 0;
  top: 0;
  color: deeppink;
}

/* end of products styles  */


/* product details styles start */

.product_details
{
 text-align: center;
}

.product_details_box
{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

}

.product_details_img
{
  width: 300px;
  height: 400px;
}

.product_details_description
{
  width: 30%;
}
/* end of product details styles */







/* ************** end of desktop styles *************** */



/***************** mobile styles *************************/


@media screen and (max-width:767px) {
  .hamburger_menu {
    display: flex;
    width: 1.4rem;
    height: 1.4rem;
  }

  .bar_top,
  .bar_middle,
  .bar_bottom {
    margin: 1.5px 0;
  }

  .search_icon {
    font-size: 14px;
  }

  .nav_account_wrapper {
    display: none;
  }

  .nav_logo {
    font-size: 18px;
  }

  .nav_search_box {
    width: 45%;
  }

  .product_list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 0.5rem;
    width: 90%;
    margin: 20px auto;
  }
}

@media screen and (min-width:767px) and (max-width:1200px) {
  .product_list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap:10px;
    
  }
}

/****************** mobile styles ****************************/